:root{
    --light-gray: #DADCE0;
    --light-blue: #1B9CE2;
}

body {
    margin:0;
}

#app-calendar {
    display:grid;
    grid-template-columns: 0.5fr repeat(5, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-auto-flow: column;
    height: 100%;
}

.day, .info{
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.info {
    cursor:default;
}

.name{
    padding-bottom:5px;
}

.selected{
    background-color: var(--light-blue);
    color: white;
}